@import url("https://unpkg.com/leaflet/dist/leaflet.css");

.title {
  height: 30%;
  margin: 10px;
}

#map {
  display: flex;
  height: 500px;
  width: 80%;
  vertical-align: center;
  margin: 10px;
  justify-self: center;
}
