.title {
  height: 30%;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.table {
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #a6051a;
  padding: 8px 12px;
  min-width: 100px;
}

.filter-container {
  border: 3px solid #a6051a;
  width: 30%;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkbox {
  margin: 5px 5px 10px 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

.wc-title {
  margin: 5px 5px 0px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

.world-champions {
  margin: 2px 5px 5px 10px;
  border: 2px solid #a6051a;
  border-radius: 5px;
  padding: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

.driver-list {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  justify-content: center;
}

.driver-card {
  height: 320px;
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 2px solid #a6051a;
  margin: 30px;
  padding: 10px;
}

.img {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  overflow: hidden;
  align-self: center;
  flex-shrink: 0;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.container-datas {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: 10px;
}

.infos {
  padding: 0px;
  margin: 0px;
}

.driver-name {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
